@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-seze-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Sen";
  font-display: swap;
  src: url("../fonts/Sen-Bold.woff") format("woff"), url("../fonts/Sen-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sen";
  font-display: swap;
  src: url("../fonts/Sen-ExtraBold.woff") format("woff"), url("../fonts/Sen-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Sen";
  font-display: swap;
  src: url("../fonts/Sen-Regular.woff") format("woff"), url("../fonts/Sen-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Sen", sans-serif;
  border: transparent;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.container {
  overflow: hidden;
  max-width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container-logo {
  position: absolute;
  left: 98px;
  top: 59px;
  z-index: 10;
}

.container__contacts {
  position: absolute;
  bottom: 0;
  right: 10%;
  color: #475364;
}

.container__aside__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 106px;
  top: 80px;
  z-index: 10;
}

.aside__search {
  margin-right: 56px;
}

.aside__search__form {
  position: relative;
}

.aside__search-field {
  width: 250px;
  height: 32px;
  margin-right: 15px;
  font-size: 20px;
  padding-left: 10px;
  color: #fff;
  font-weight: 400;
  background: transparent;
  border: 3px solid #475364;
  -webkit-transition-duration: .4s;
       -o-transition-duration: .4s;
          transition-duration: .4s;
  opacity: 1;
  position: relative;
}

.aside__search-field-hide {
  position: absolute;
  right: 500px;
  top: 0;
  width: 0px;
  height: 32px;
  font-size: 20px;
  padding-left: 10px;
  color: #fff;
  font-weight: 400;
  background: transparent;
  border: 0px solid #475364;
  z-index: -999;
  opacity: 0;
  -webkit-transition-duration: 1.8s;
       -o-transition-duration: 1.8s;
          transition-duration: 1.8s;
}

.aside__search-button {
  background: transparent;
  position: absolute;
  z-index: 1;
  top: 0px;
}

.search__activation {
  position: absolute;
  z-index: 2;
  top: 0px;
}

#search__activation {
  width: 100%;
  height: 100%;
}

.cart {
  width: 30px;
  height: 30px;
  margin-right: 22px;
  position: relative;
}

.cart__icon {
  color: #687484;
}

.cart__orders-count {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.burger {
  color: #475364;
  font-size: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.burger__menu {
  width: 100%;
  height: 100%;
  position: relative;
}

.burger__menu-list {
  text-align: right;
  position: absolute;
  top: 36px;
  right: -250px;
  opacity: 1;
  -webkit-transition-duration: .8s;
       -o-transition-duration: .8s;
          transition-duration: .8s;
  z-index: -999;
}

.burger__menu-item {
  position: relative;
  font-size: 0px;
  margin-bottom: 15px;
  background: transparent;
  -webkit-transition: background, font-size 0.8s ease;
  -o-transition: background, font-size 0.8s ease;
  transition: background, font-size 0.8s ease;
  border-radius: 10px;
  width: calc(100% + 20px);
  padding-right: 10px;
  padding-bottom: 5px;
}

.burger__menu-item:hover {
  color: chocolate;
}

.burger__menu-animation {
  position: relative;
}

.burger__menu-animation:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 11px;
  width: 18px;
  height: 2px;
  background: #687484;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.burger__menu-button {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.burger__menu-button:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 3px;
  width: 26px;
  height: 2px;
  background: #687484;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.burger__menu-button:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 11px;
  width: 18px;
  height: 2px;
  background: #687484;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-animation-name: burger;
          animation-name: burger;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.burger__menu-button:active:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 28px;
  height: 2px;
  background: #687484;
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__menu-button:active:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 28px;
  height: 2px;
  background: #687484;
  -webkit-transform: rotate(585deg);
      -ms-transform: rotate(585deg);
          transform: rotate(585deg);
  -webkit-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.show__burger {
  text-align: right;
  position: absolute;
  top: 36px;
  right: 20px;
  -webkit-transition-duration: .8s;
       -o-transition-duration: .8s;
          transition-duration: .8s;
}

.show__burger .burger__menu-item {
  background: rgba(125, 125, 125, 0.3);
  border-radius: 10px;
  width: calc(100% + 20px);
  padding-right: 10px;
  padding-bottom: 5px;
  -webkit-transition: background, font-size 1s ease;
  -o-transition: background, font-size 1s ease;
  transition: background, font-size 1s ease;
  font-size: 20px;
}

.cross__btn {
  position: relative;
}

.cross__btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 28px;
  height: 2px;
  background: #687484;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.cross__btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 28px;
  height: 2px;
  background: #687484;
  -webkit-transform: rotate(-585deg);
      -ms-transform: rotate(-585deg);
          transform: rotate(-585deg);
  -webkit-transition-duration: .8s;
       -o-transition-duration: .8s;
          transition-duration: .8s;
}

.slick-track,
.slick-list {
  height: 100vh;
  margin-top: -10px;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.slides {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slides:before {
  content: "";
  position: absolute;
  z-index: 100;
  width: 1px;
  height: calc(100vh*0.32);
  background: #475364;
  right: calc(100vw*0.03);
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.slide {
  z-index: 100;
  background: #161B25 url("../img/cofee.png") -125px 69px/cover no-repeat;
  width: 100vw;
  height: 100vh;
  margin: -1px 0;
  position: relative;
}

.show__more-btn {
  display: none;
}

.truncated .show__more-btn {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  font-size: calc(12px + 8 * ((100vw - 320px) / (1600 - 320)));
  padding: 5px 5px;
  border-radius: 3em;
  border: 0.5px solid #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 27, 37, 0.5)), to(rgba(18, 22, 30, 0.5)));
  background: -o-linear-gradient(rgba(22, 27, 37, 0.5), rgba(18, 22, 30, 0.5));
  background: linear-gradient(rgba(22, 27, 37, 0.5), rgba(18, 22, 30, 0.5));
  color: chocolate;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.truncated .show__more-btn:hover {
  background: #fff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.coffe {
  max-width: calc(100vw*0.35);
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12%;
  padding-top: calc(100vh*0.21);
}

.coffe__name {
  margin-bottom: 27px;
  font-size: calc(36px + 77 * ((100vw - 320px) / (1600 - 320)));
  font-weight: 800;
}

.coffe__name span {
  display: block;
  color: #475364;
  text-align: center;
}

.coffe__desc {
  font-size: calc(12px + 8 * ((100vw - 320px) / (1600 - 320)));
  line-height: 35px;
  margin-bottom: 12px;
  color: #687484;
  position: relative;
  max-height: calc(100vh*0.3);
  overflow-y: hidden;
}

.coffe__info {
  font-size: calc(16px + 9 * ((100vw - 320px) / (1600 - 320)));
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #939DAB;
  margin-bottom: calc(100vh*0.037);
}

.coffe__info-button {
  margin-right: 14%;
}

.coffe__info-button-arrow {
  fill: #939DAB;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.coffe__info-button__recipe-link {
  display: inline-block;
  position: relative;
  padding-right: 15px;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.coffe__info-button__recipe-link:hover {
  -webkit-transform: translate(10%, 0);
      -ms-transform: translate(10%, 0);
          transform: translate(10%, 0);
  color: #683C3C;
  -webkit-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}

.coffe-button {
  width: clamp(200px, 254px, calc(254px+1vw));
  height: calc(100vh*0.065);
  border: 2px solid #687484;
  border-radius: 3em;
  text-align: center;
}

.coffe-button:hover {
  background: #683C3C;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.coffe-button a {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  color: #687484;
  font-size: 22px;
  line-height: 40px;
}

.coffe-button a:before {
  content: url("../img/button-coffee.svg");
  position: absolute;
  top: 50%;
  left: 14%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.popup {
  visibility: visible !important;
  z-index: 999;
}

#close__popup {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.3);
}

#popup__desc {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px 40px;
  background: #fff;
  border-radius: 3em;
  font-size: calc(12px + 6 * ((100vw - 320px) / (1600 - 320)));
  visibility: hidden;
  cursor: auto;
}

.coffe__info-button__recipe-link:hover .coffe__info-button-arrow {
  fill: #683C3C;
  -webkit-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}

.slick-dots {
  background: transparent;
  position: absolute;
  right: calc(100vw*0.03);
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: calc(100vh*.32);
  right: calc(100vw*.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slick-dots li {
  display: block;
  height: 100%;
}

.slick-dots li button {
  font-size: 0;
  display: block;
}

.slick-dots li.slick-active {
  position: relative;
}

.slick-dots li.slick-active:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 4px;
  background: #475364;
  -webkit-transform: translate(-55%, 0);
      -ms-transform: translate(-55%, 0);
          transform: translate(-55%, 0);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mouse__animation {
  position: absolute;
  bottom: 8%;
  left: 50%;
  position: relative;
  -webkit-animation-name: mouse;
          animation-name: mouse;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.mouse__animation:after {
  content: "";
  position: absolute;
  top: 120%;
  left: 10px;
  width: 1px;
  height: 30px;
  border-right: 2px solid #475364;
  background: #475364;
}

@-webkit-keyframes mouse800 {
  0% {
    bottom: 16%;
  }

  50% {
    bottom: 18%;
  }

  100% {
    bottom: 16%;
  }
}

@keyframes mouse800 {
  0% {
    bottom: 16%;
  }

  50% {
    bottom: 18%;
  }

  100% {
    bottom: 16%;
  }
}

@-webkit-keyframes mouse {
  0% {
    bottom: 8%;
  }

  50% {
    bottom: 10%;
  }

  100% {
    bottom: 8%;
  }
}

@keyframes mouse {
  0% {
    bottom: 8%;
  }

  50% {
    bottom: 10%;
  }

  100% {
    bottom: 8%;
  }
}

.footer__contacts {
  position: absolute;
  bottom: 0;
  color: #475364;
  right: 10%;
}

.footer__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

.footer__contacts-item {
  margin-right: calc(100vw*0.045);
}

.footer__contacts-item:hover {
  color: #683C3C;
  -webkit-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  transition: .2s ease-out;
}

.footer__contacts-item:last-child {
  margin-right: calc(100vw*0.067);
}

.dots__slider {
  position: absolute;
  top: 50%;
  left: 2.4%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  overflow: hidden;
}

.dots__slider__number {
  width: 29px;
  height: 29px;
  cursor: pointer;
  background: transparent;
}

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.dots__slider .slick-list {
  width: 52px;
  height: 342px;
  overflow: hidden;
  margin-top: 0;
}

/* Лента слайдов */

.dots__slider .slick-track {
  margin-top: 0;
}

/* Слайд */

.dots__slider .slick-slide {
  margin-bottom: 30px;
  font-size: 16px;
  padding-top: 10px;
  color: #fff;
  opacity: 0.1;
}

/* Слайд активный (показывается) */

.dots__slider .slick-slide.slick-active {
  font-size: 20px;
  color: #fff;
  opacity: .3;
}

/* Слайд основной */

.dots__slider .slick-slide.slick-current {
  font-size: 25px;
  position: relative;
  color: #fff;
  opacity: 1;
}

.dots__slider .slick-slide.slick-current:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #1c2127;
  border: 4px solid gray;
  border-radius: 50%;
  top: 50%;
  left: 29px;
  -webkit-transform: translate(0, -37%);
      -ms-transform: translate(0, -37%);
          transform: translate(0, -37%);
  opacity: 0.4;
}

/* Клонированный слайд */

/* Слайд по центру */

@media (min-width: 1921px) {
  .coffe {
    max-width: calc(100vw*0.345);
  }
}

@media (max-width: 1300px) {
  .slide {
    background: #161B25 url("../img/cofee.png") center 100%/100% auto no-repeat;
  }
}

@media (max-width: 1200px) {
  .coffe {
    padding-right: 15px;
    height: 80%;
    padding-top: calc(100vh*0.15);
  }

  .coffe__desc {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 0 10px;
    max-height: calc(100vh*0.5);
    overflow-y: hidden;
  }
}

@media (max-width: 800px) {
  .mouse__animation {
    -webkit-animation-name: mouse800;
            animation-name: mouse800;
  }

  .footer__contacts {
    right: auto;
  }

  .footer__contacts-list {
    width: 100vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 20px;
  }

  .footer__contacts-item {
    margin: 0;
  }

  .footer__contacts-item:last-child {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .container-logo {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    padding-top: 10px;
    padding-left: 10px;
  }

  .container__aside__menu {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    right: 0;
    top: 0;
    padding-top: 31px;
    padding-right: 10px;
  }
}
@supports (-webkit-appearance:none){
.slide{background:#161B25 url("../img/cofee.png") -125px 69px/cover no-repeat}
}

 @media (min-width: 1921px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1300px){

@supports (-webkit-appearance:none){
.slide{background:#161B25 url("../img/cofee.png") center 100%/100% auto no-repeat}
}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 800px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}
